<ion-view view-title="Login">
    <ion-content class="dark">
        <form ng-submit="doLoginRegister()">
            <div class="list loginback">

                <div class="item item-image">
                    <img src="img/logo_wide.png">
                </div>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="loginData.email" placeholder="johndoe@example.com">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password" placeholder="********">
                </label>

                <div>
                    <label class="item">
                        <input ng-model="loginData.noAccount" type=checkbox ng-change="changeLoginBtnText()">
                        I don't have an account
                    </label>
                    <div ng-show="loginData.noAccount">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Password Confirm</span>
                            <input type="password" ng-model="registerData.password2" placeholder="********">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">First Name</span>
                            <input type="text" ng-model="registerData.first_name" placeholder="John">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Last Name</span>
                            <input type="text" ng-model="registerData.last_name" placeholder="Doe">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Phone Number</span>
                            <input type="tel" ng-model="registerData.phoneNumber" placeholder="555-555-5555">
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Gender
                            </div>
                            <select ng-model="registerData.gender">
                                <option value="MALE" selected>Male</option>
                                <option value="FEMALE">Female</option>
                            </select>
                        </label>
                    </div>
                </div>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">{{ loginBtnText }}</button>
                </label>
            </div>
            <div ng-show="loginData.noAccount">
                <p class="tosItem text-center">
                    By creating an account, you agree to the <a href="#">Terms & Conditions</a>.
                </p>
                <br />
            </div>
        </form>
    </ion-content>
</ion-view>